<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="InetBanking">

<listeners>
    <listener class-name="com.inetbanking.utilities.ExtentReport_Listerners"></listener>
</listeners>

<test name="BankingAPP Test">
<parameter name="browser" value="chrome"></parameter>
<classes>
<!--<class name="com.inetbanking.testCases.Tc_LoginTest_001"></class>--><!-- packagename.classname-->
<!--<class name="com.inetbanking.testCases.Tc_LoginTestDDT_002"></class>-->
<class name="com.inetbanking.testCases.Tc_AddNewCustomer_003"></class>

</classes>

</test>
</suite>